.rotate {
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.tblborder,
.tblborder td,
.tblborder th {
    border-collapse: collapse;
}
.void {
    color: white!important;
}
.table-inner {
    border-collapse: collapse;
    margin: 0 auto;
}
.table-inner td {
    border: 1px solid green;
}
.table-inner tr:first-child td {
    border-top: 0;
}
.table-inner tr td:first-child {
    border-left: 0;
}
.table-inner tr:last-child td {
    border-bottom: 0;
}
.table-inner tr td:last-child {
    border-right: 0;
}

.container-border{
    border: 1px solid green;
}

.no-border{
    border: 0px;
}

.border-top-radius{
  border-top-right-radius: 3px;
   border-top-left-radius: 3px;
}
.border-right-radius{
  border-bottom-right-radius: 3px;
     border-top-right-radius:3px;
}
.border-bottom-radius{
  border-bottom-right-radius: 3px;
   border-bottom-left-radius:3px;
}
.border-left-radius{
  border-bottom-left-radius: 3px;
     border-top-left-radius: 3px;
}
.rounded{
  border-radius: 6px;
}
.bg-success{
    background: green;
}
.margin-text{
    margin-left: 4px!important;
    margin-top: 1px!important;
    margin-bottom: 1px!important;
}

.que-text{
    color: gray!important;
    font-size: 10px!important;
}

.margin-answer{
    margin-left: 5px;
    margin-top: 0px;
}

.que-answer{
    color: black!important;
    font-size: 11px!important;
}

.div-table{
    padding: 0;
    margin-top: 5px;
    display:block;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}
.pr-0{
    padding-right: 0!important;
}

.pl-0{
    padding-left: 0!important;
}

.pl-4{
    padding-left: 4px!important;
}

.container{
    display: block;
}

.row{
    display: block;
}